/* Reset e Configurações Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--body-bg-gradient);
  min-height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-content {
  padding: var(--spacing-xl);

}

/* Estados Colapsados */
.collapsed {
  display: none;
}

/* Mensagens */
.empty-message {
  text-align: center;
  color: var(--text-secondary);
  font-style: italic;
  padding: var(--spacing-xl);
}

footer {
  position: sticky;
  top: 100vh; /* empurra ele pro final da tela */

  text-align: center;
  font-size: 13px;
  color: #6b7280;

  padding: 10px 0;
}
